.main-container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: space-between;
  margin: 20px;
  background-color: #8094c4;
  padding: 30px;
  min-height: 60vh;
}

.form-style {
  background-color: #abb7d7;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 20px;
  width: calc(50% - 20px); /* Adjust width for smaller screens */
  max-width: 400px; /* Limit maximum width */
}

input[type="text"],
input[type="date"],
select,
textarea,
input[type="search"] {
  width: 100%; /* Take full width */
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #d5dbeb;
}

button {
  padding: 10px 20px;
  margin-right: 10px;
  margin-bottom: 3px;
  background-color: #2c4c9c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

table {
  width: 100%; 
  border: 1px solid lightgray;
  margin-top: 20px;
}

.done td {
  text-decoration: line-through;
}


#data th,
#data td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: left;
  background-color: #abb7d7;
}

#data th {
  background-color: #2c4c9c;
  color: #fff;
}

input[type="search"] {
  height: 40px;
}

h3 {
  font-size: large;
}

/* Add this to your existing CSS */
.table-wrapper {
  overflow-x: auto;
}


/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .main-container {
    flex-direction: column; /* Change to column layout for smaller screens */
    align-items: center; /* Center align items */
    padding: 20px; /* Reduce padding for better spacing */
  }
  
  .form-style {
    width: 100%; /* Make form style take full width */
    margin-right: 0; /* Remove margin for smaller screens */
    margin-bottom: 20px; /* Add bottom margin for better spacing */
  }
}
